@model TeamMemberEditModel

@section styles{
    <!-- Specific Page Vendor CSS -->
     <link rel="stylesheet" href="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/css/select2.css" /> 
    <link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
}

<header class="page-header">
    <h2>Team Members</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="index" asp-controller="team">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Team Member</span></li>
            <li><span>Edit</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">Create New Member</h2>
            </header>
            <div class="card-body">
                <form asp-action="edit" asp-controller="team" class="form-horizontal form-bordered" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger h6">Please fix the error.</div>
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.Id)
                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">Name</label>

                    @for (int i = 0; i < Model.Languages.Count; i++)
                    {
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2">@Model.Languages[i].LangLong</label>
                            <div class="col-lg-6">
                                <input type="text" asp-for="TeamMembers[i].Name" class="form-control input-rounded" placeholder="Enter a name">
                                <span asp-validation-for="TeamMembers[i].Name" class="text-danger"></span>
                                <input type="hidden" asp-for="TeamMembers[i].LanguageId" value="@Model.Languages[i].Id" />
                            </div>
                        </div>
                    }


                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">Surname</label>
                    @for (int i = 0; i < Model.Languages.Count; i++)
                    {
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded1">@Model.Languages[i].LangLong</label>
                            <div class="col-lg-6">
                                <input type="text" asp-for="TeamMembers[i].Surname" class="form-control input-rounded" placeholder="Enter a surname">
                                <span asp-validation-for="TeamMembers[i].Surname" class="text-danger"></span>
                            </div>
                        </div>
                    }


                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">Description</label>
                    @for (int i = 0; i < Model.Languages.Count; i++)
                    {
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded12">@Model.Languages[i].LangLong</label>
                            <div class="col-lg-6">
                                <textarea type="text" asp-for="TeamMembers[i].Description" rows="5" class="form-control input-rounded" placeholder="Description"></textarea>
                                <span asp-validation-for="TeamMembers[i].Description" class="text-danger"></span>
                            </div>
                        </div>
                    }

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded">Begin Hour(per number)</label>
                        <div class="col-lg-6">
                            <input type="number" asp-for="Begin" class="form-control input-rounded" placeholder="Enter begin time">
                            <span asp-validation-for="Begin" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded">End Hour(per number)</label>
                        <div class="col-lg-6">
                            <input type="number" asp-for="End" max="24" min="0" class="form-control input-rounded" placeholder="Enter end time">
                            <span asp-validation-for="End" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded">Area</label>
                        <div class="col-lg-6">
                            <select class="form-control mb-3" asp-for="AreaId">
                                <option value="">Select area</option>
                                @foreach (AreaDto item in Model.Areas)
                                {
                                    if (item.Id == Model.AreaId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="AreaId" class="text-danger"></span>
                        </div>
                    </div>*@

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Area</label>
                        <div class="col-lg-6">
                            <select multiple data-plugin-selectTwo class="form-control populate" asp-for="AreaId">
                                <option value="">Select area</option>
                                <optgroup label="Practice areas">
                                    @foreach (AreaDto item in Model.Areas)
                                    {
                                            if (Model.AreaId.Any(m=>m == item.Id))
                                            {
                                                <option value="@item.Id" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                    }
                                </optgroup>
                            </select>
                            <span asp-validation-for="AreaId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">File Upload</label>
                        <div class="col-lg-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-exists">Change</span>
                                        <span class="fileupload-new">Select file</span>
                                        <input type="file" asp-for="Img" />
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                                <span asp-validation-for="Img" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <button type="submit" class="btn btn-primary col-4 mr-4">Edit</button>
                        <a asp-action="index" asp-controller="team" class="btn btn-outline-primary col-4">Back To List</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
@section scripts{
    <!-- Specific Page Vendor -->
    <script src="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <partial name="_ValidationScriptsPartial" />

}