@model ContactViewModel

<header class="page-header">
    <h2>Firm</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="index" asp-controller="team">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Contact</span></li>
            <li><span>Edit</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">Edit Contact</h2>
            </header>
            <div class="card-body">
                <form asp-action="edit" asp-controller="contact" class="form-horizontal form-bordered" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger">Please fix the error.</div>
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">@Html.DisplayNameFor(m=>m.ContactEmail)</label>

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded12">Email</label>
                        <div class="col-lg-6">
                            <input type="text" asp-for="ContactEmail" class="form-control input-rounded" placeholder="Enter email">
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                    </div>

                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">@Html.DisplayNameFor(m => m.ContactNumber)</label>

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded12">Number</label>
                        <div class="col-lg-6">
                            <input type="text" asp-for="ContactNumber" class="form-control input-rounded" placeholder="Enter phone number">
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                   
                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">@Html.DisplayNameFor(m => m.ContactHomeNumber)</label>

                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded12">Home Number</label>
                        <div class="col-lg-6">
                            <input type="text" asp-for="ContactHomeNumber" class="form-control input-rounded" placeholder="Enter home number">
                            <span asp-validation-for="ContactHomeNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <label class="col-lg-4 control-label text-lg-right pt-2 h6" for="inputRounded">Address</label>
                    @for (int i = 0; i < Model.Languages.Count; i++)
                    {
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2" for="inputRounded12">@Model.Languages[i].LangLong</label>
                            <div class="col-lg-6">
                                <textarea type="text" asp-for="ContactAdresses[i].ContactAdress" rows="5" class="form-control input-rounded" placeholder="Description"></textarea>
                                <span asp-validation-for="ContactAdresses[i].ContactAdress" class="text-danger"></span>
                                <input type="hidden" asp-for="ContactAdresses[i].LanguageId" value="@Model.Languages[i].Id" />
                            </div>
                        </div>
                    }

                    <div class="form-group row justify-content-center">
                        <button type="submit" class="btn btn-primary col-4 mr-4">Save</button>
                        <a asp-action="index" asp-controller="contact" class="btn btn-outline-primary col-4">Back To List</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
