@model Message

<header class="page-header">
    <h2>Message Details</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="index" asp-controller="team">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Message</span></li>
            <li><span>Details</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->

<div class="row">
    <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <section class="card">
            <div class="card-body">
                <div class="thumb-info mb-3">
                    <div class="thumb-info-title" style="padding:9px 8px 9px">
                        <span class="thumb-info-inner" style="font-size:11px;letter-spacing:0;">@Model.Name</span>
                        <span class="thumb-info-type">@Model.Email</span>
                    </div>
                </div>
                <div class="widget-toggle-expand mb-3">
                    <div class="widget-header">
                        <h5 class="mb-2">Message Details</h5>
                        <div class="widget-toggle">+</div>
                    </div>
                    <div class="widget-content-collapsed">
                        <div class="progress progress-xs light">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-expanded">
                        <ul class="simple-todo-list mt-3">
                            <li class="completed">User name</li>
                            <li class="completed">User email</li>
                            <li class="completed">Message subject</li>
                            <li class="completed">Message content</li>
                        </ul>
                    </div>
                </div>
                <hr class="dotted short">
                <div>
                    <a asp-action="index" asp-controller="message" class="btn btn-primary" title="Back To List"><i class="fa fa-arrow-left"></i></a>
                    <a asp-action="reply" asp-controller="message" asp-route-id="@Model.Id" class="btn btn-warning" title="Reply"><i class="fa fa-mail-reply"></i></a>
                </div>

            </div>
        </section>
    </div>
    <div class="col-lg-8 col-xl-8">

        <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
                <li class="nav-item active">
                    <a class="nav-link" href="#overview" data-toggle="tab">Overview</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="overview" class="tab-pane active">

                    <div class="p-3">

                        <h4 class="mb-3 pt-4">Message Details</h4>

                        <div class="timeline timeline-simple mt-3 mb-3">
                            <div class="tm-body">
                                <div class="tm-title">
                                    <h5 class="m-0 pt-2 pb-2 text-uppercase">User Informations</h5>
                                </div>
                                <ol class="tm-items">
                                    <li>
                                        <div class="tm-box">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="h4">
                                                        @Model.Name
                                                    </p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="h6">
                                                        @Model.Email
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="timeline timeline-simple mt-3 mb-3">
                            <div class="tm-body">
                                <div class="tm-title">
                                    <h5 class="m-0 pt-2 pb-2 text-uppercase">Subject</h5>
                                </div>
                                <ol class="tm-items">
                                    <li>
                                        <div class="tm-box">
                                            <p class="text-muted mb-0">@Model.Subject</p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="timeline timeline-simple mt-3 mb-3">
                            <div class="tm-body">
                                <div class="tm-title">
                                    <h5 class="m-0 pt-2 pb-2 text-uppercase">Message</h5>
                                </div>
                                <ol class="tm-items">
                                    <li>
                                        <div class="tm-box">
                                            <p class="text-muted mb-0">@Model.MessageContent</p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: page -->
